<!-- HEADER -->
<header id="masthead" class="site-header" role="banner">
  <div class="header-wrap clearfix">
    <div class="site-branding">
      <a href="/" rel="home">
        <img src="/assets/images/臺灣福音工作全時間訓練-logo.png" alt="臺灣福音工作全時間訓練 logo">
      </a>
      <h1 class="site-title"><a href="/" title="臺灣福音工作全時間訓練網站" rel="home">臺灣福音工作全時間訓練網站</a></h1>
    </div>

    <!-- NAVIGATION MENU -->
    <nav id="site-navigation" class="main-navigation" role="navigation">
      <h4 class="menu-toggle"></h4>
      <ul class="clearfix">
        <!-- <li class="menu-item"><a href="/">首頁</a></li> -->

        <li class="menu-item menu-item-has-children">
          <a href="/pages/關於訓練.html">關於訓練</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="/pages/訓練沿革.html">訓練沿革</a></li>
            <li class="menu-item"><a href="/pages/訓練目的與目標.html">訓練目的與目標</a></li>
            <li class="menu-item"><a href="/pages/課程介紹.html">課程介紹</a></li>
            <li class="menu-item menu-item-has-children">
              <a href="/pages/訓練生活.html">訓練生活</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="/pages/訓練生活.html#簿本操練">簿本操練</a></li>
                <li class="menu-item"><a href="/pages/訓練生活.html#訓練生活分享">訓練生活分享</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="menu-item menu-item-has-children">
          <a href="/pages/訓練八方面.html">訓練八方面</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="/pages/職事.html">職事</a></li>
            <li class="menu-item"><a href="/pages/真理.html">真理</a></li>
            <li class="menu-item"><a href="/pages/生命.html">生命</a></li>
            <li class="menu-item"><a href="/pages/事奉.html">事奉</a></li>
            <li class="menu-item"><a href="/pages/基督的身體.html">基督的身體</a></li>
            <li class="menu-item"><a href="/pages/性格.html">性格</a></li>
            <li class="menu-item"><a href="/pages/心志.html">心志</a></li>
            <li class="menu-item"><a href="/pages/語言.html">語言</a></li>
          </ul>
        </li>

        <li class="menu-item"><a href="/pages/參加訓練.html">參加訓練</a></li>
        <li class="menu-item"><a href="/pages/參加青職短期訓練.html">青職短期訓練</a></li>
        <li class="menu-item"><a href="/pages/訓練負擔.html">參加短期訓練</a></li>
        <li class="menu-item"><a href="/pages/影音專區.html">影音專區</a></li>
        <li class="menu-item"><a href="/pages/2025冬季福音開展.html">相關資訊</a></li>
      </ul>
    </nav>
    <!-- #site-navigation -->
  </div>
  <!-- .inner-wrap header-wrap -->
</header>
<!-- #masthead -->