<!-- HEADER -->
<header id="masthead" class="site-header" role="banner">
  <div class="header-wrap clearfix">
    <div class="site-branding">
      <a href="{{ site.baseurl }}/" rel="home">
        <img src="{{ site.baseurl }}/assets/images/臺灣福音工作全時間訓練-logo.png" alt="臺灣福音工作全時間訓練 logo">
      </a>
      <h1 class="site-title"><a href="{{ site.baseurl }}/" title="臺灣福音工作全時間訓練網站" rel="home">臺灣福音工作全時間訓練網站</a></h1>
    </div>

    <!-- NAVIGATION MENU -->
    <nav id="site-navigation" class="main-navigation" role="navigation">
      <h4 class="menu-toggle"></h4>
      <ul class="clearfix">
        <!-- <li class="menu-item"><a href="{{ site.baseurl }}/">首頁</a></li> -->

        <li class="menu-item menu-item-has-children">
          <a href="{{ site.baseurl }}/關於訓練/">關於訓練</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="{{ site.baseurl }}/訓練沿革/">訓練沿革</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/訓練目的與目標/">訓練目的與目標</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/課程介紹/">課程介紹</a></li>
            <li class="menu-item menu-item-has-children">
              <a href="{{ site.baseurl }}/訓練生活/">訓練生活</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="{{ site.baseurl }}/訓練生活/#簿本操練">簿本操練</a></li>
                <li class="menu-item"><a href="{{ site.baseurl }}/訓練生活/#訓練生活分享">訓練生活分享</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="menu-item menu-item-has-children">
          <a href="{{ site.baseurl }}/訓練八方面/">訓練八方面</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="{{ site.baseurl }}/職事/">職事</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/真理/">真理</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/生命/">生命</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/事奉/">事奉</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/基督的身體/">基督的身體</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/性格/">性格</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/心志/">心志</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/語言/">語言</a></li>
          </ul>
        </li>

        <li class="menu-item"><a href="{{ site.baseurl }}/參加訓練/">參加訓練</a></li>
        <li class="menu-item"><a href="{{ site.baseurl }}/參加青職短期訓練/">青職短期訓練</a></li>
        <li class="menu-item"><a href="{{ site.baseurl }}/參加短期訓練/">參加短期訓練</a></li>
        <li class="menu-item"><a href="{{ site.baseurl }}/影音專區/">影音專區</a></li>
        <li class="menu-item"><a href="{{ site.baseurl }}/相關資訊/">相關資訊</a></li>
      </ul>
    </nav>
    <!-- #site-navigation -->
  </div>
  <!-- .inner-wrap header-wrap -->
</header>
<!-- #masthead -->